* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
	background: #a6ee95;
    font-family: tahoma;
    font-size: 14px; 
}

#wrapper {
	width: 1200px;
	height: 100%;
	background: #fff;
    margin: auto;
}

#head {
	width: 1200px;
	height: 30px;
	background: #ddd;
	margin-top: 30px;
}

#navlist {
	width: 1200px;
	height: 70px;
	background: #fff;
}

#headerimagefield {
	width: 1170px;
	height: 300px;
	background: green;
}

#headerborder {
	width: 1170px;
	height: 300px;
	background: #fff; 	
	padding-left: 15px;
	padding-right: 15px;
}

#slideshow { 
    position: relative; 
    width: 1170px; 
    height: 300px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}

#headerContentSeparation {
	height: 15px;
	width: 1200px;
	background: #fff;	
}

#main {
	height: 500px;
	width: 1200px;
	background: #fff;	
}

#leftcontent {
	width: 950px;
	height: 500px;
	background: #ededed;
	float: left;
	padding: 10px 10px 10px 10px;
}

#rightcontent {
	width: 210px;
	height: 500px;
	background: #ededed;
	float: right;
	padding: 10px 10px 10px 10px;
}